<!DOCTYPE html>
<html>
<head>
    <title>send sms</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            {% if messages %}

                {% for message in messages %}
                
                    <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></span></button>
                        <strong>{{message}}</strong>
                    </div>
                
                {% endfor %}

            {% else %}
            
                <form method='post' class="col s12" action="{% url 'event-reminder:send-sms' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">text_fields</i>
                            <input name='message' id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Message</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input name="phone" id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Telephone</label>
                        </div>
                    </div>
                    <input type="submit" name="submit" class="btn right">
                </form>

            {% endif %}

          </div>
        </div>
    </div>
</body>
</html>